{% set title = 'Contact Us' %}
{% set header_image = 'contact_head.jpg' %}
{% set next_section = 'contact' %}

{% extends "::base.html.twig" %}

{% block page_header_content %}
	<h1>Put the <strong>POWER</strong> of Content</h1><br>
	<h3>To Work for Your Brand!</h3><br/>
	<a class="clapat-button medium outline move" href="#{{ next_section }}">Contact Us</a>
{% endblock %}


{% block body %}

	<!-- Contact -->
	<section id="{{ next_section }}">

		<!-- Container -->
		<div class="container">

			<!-- Section Title -->
			<div class="section-title end">
				<div class="title-content">
					<h4>If you like what you've seen, like who we are, and like what we do, contact us.</h4><br/>
					<h3>The law of attraction states</h3>
					<ul class="title-dots"><li></li><li></li><li></li></ul>
					<blockquote>Like attracts like</blockquote>
					<h4>So, if you don't contact us, you could be pitting your fate against scientific theory. Just sayin'.</h4><br/>
					<h5>No matter your comment, question or marketing challenge, we're confident iBright Development can help you.</h5>
				</div>
			</div>
			<!--/Section Title -->

		</div>
		<!--/Container -->

	</section>
	<!--/Contat -->

	{{ block('business_map') }}
	{{ block('contact_us') }}

{% endblock %}
