{% use 'head.html.twig' %}
{% use 'google_tracking.html.twig' %}
{% use 'page_header.html.twig' %}
{% use 'navigation.html.twig' %}
{% use 'page_footer.html.twig' %}
{% use 'page_header.html.twig' %}
{% use 'js_footer_includes.html.twig' %}
{% use 'page_elements.html.twig' %}

{{ block('html_head') }}

<body data-spy="scroll" data-target=".navbar" data-offset="75">

{{ block('googleTagManager') }}

<div class="alert hidden"></div>

<!-- Preloader -->
<div class="mask"><div id="loader"></div></div>
<!--/Preloader -->

{{ block('page_head') }}
{{ block('top_navigation') }}

{% block body %}{% endblock %}

{{ block('page_footer') }}
{{ block('js_footer_includes') }}

{% block javascripts %}{% endblock %}

</body>
</html>
