{% block html_head %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% if title is defined %}{{ title }} - {% endif %}iBright Development</title>
	<meta name="description" content="iBright Development - Coming Soon" />
	<meta name="author" content="Justin St. Germain">
	<meta charset="UTF-8" />
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=device-width, maximum-scale=1, minimum-scale=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" href="{{ asset('favicon.png') }}" type="image/x-icon">
	<link rel="icon" href="{{ asset('favicon.png') }}" type="image/x-icon">
	<link rel="apple-touch-icon" sizes="57x57" href="{{ asset('apple-icon-57x57.png') }}">
	<link rel="apple-touch-icon" sizes="60x60" href="{{ asset('apple-icon-60x60.png') }}">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ asset('apple-icon-72x72.png') }}">
	<link rel="apple-touch-icon" sizes="76x76" href="{{ asset('apple-icon-76x76.png') }}">
	<link rel="apple-touch-icon" sizes="114x114" href="{{ asset('apple-icon-114x114.png') }}">
	<link rel="apple-touch-icon" sizes="120x120" href="{{ asset('apple-icon-120x120.png') }}">
	<link rel="apple-touch-icon" sizes="144x144" href="{{ asset('apple-icon-144x144.png') }}">
	<link rel="apple-touch-icon" sizes="152x152" href="{{ asset('apple-icon-152x152.png') }}">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-icon-180x180.png') }}">
	<link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('android-icon-192x192.png') }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
	<link rel="icon" type="image/png" sizes="96x96" href="{{ asset('favicon-96x96.png') }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
	<link rel="manifest" href="{{ asset('manifest.json') }}">
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="{{ asset('ms-icon-144x144.png') }}">
	<meta name="theme-color" content="#ffffff">

	{% stylesheets
	'bundles/site/css/bootstrap.min.css'
	'bundles/site/css/navigation-style-1.css'
	'bundles/site/css/sliders.css'
	'bundles/site/css/blog.css'
	'bundles/site/css/style.css'
	'bundles/site/css/flexslider.css'
	'bundles/site/css/prettyPhoto.css'
	'bundles/site/css/font-awesome.min.css'
	'bundles/site/css/custom-fonts.css'
	'bundles/site/css/prettify.css'
	filter='uglifycss' filter='cssrewrite' %}
	<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css' />

	{% block stylesheets %}{% endblock %}

	<script src='https://www.google.com/recaptcha/api.js'></script>

</head>
{%  endblock %}