{% block js_footer_includes %}

<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.js'></script>

{% javascripts
'bundles/site/js/typed.js'
filter='uglifyjs2' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

<script>
	$(function(){

		$("#typed").typed({
			strings: ["",
				" a user interface designer",
				" front-end engineer",
				" an Android developer",
				" but",
				" mostly a writer."],
			typeSpeed: 60,
			startDelay: 500,
			backDelay: 500,
			loop: true,
			// defaults to false for infinite loop
			loopCount: false,
			callback: function(){ foo(); },
			resetCallback: function() { newTyped(); }
		});

		$(".reset").click(function(){
			$("#typed").typed('reset');
		});

	});

	function newTyped(){ /* A new typed object */ }

	function foo(){ console.log("Callback"); }

</script>

{% javascripts
'bundles/site/js/bootstrap.min.js'
'bundles/site/js/jquery.mb.YTPlayer.js'
'bundles/site/js/jquery.sticky.js'
'bundles/site/js/jquery.flexslider.js'
'bundles/site/js/jquery.easing.js'
'bundles/site/js/jquery.mousewheel.js'
'bundles/site/js/jquery.parallax-1.1.3.js'
'bundles/site/js/appear.js'
'bundles/site/js/isotope.js'
'bundles/site/js/jquery.jigowatt.js'
'bundles/site/js/jquery.prettyPhoto.js'
filter='uglifyjs2' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>

{% javascripts
'bundles/site/js/jquery.waitforimages/jquery.waitforimages.js'
'bundles/site/js/jquery.knob.js'
'bundles/site/js/countdown.js'
'bundles/site/js/scripts.js'
'bundles/site/js/prettify.js'
filter='uglifyjs2' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

{% endblock %}
