{% block top_navigation %}
<!-- Navigation -->
<div id="navigation" class="navbar navbar-fixed-top">
	<div class="navbar-inner ">
		<div class="container">

			<a class="show-menu" data-toggle="collapse" data-target=".nav-collapse">
				<span class="show-menu-bar"></span>
			</a>

			<div id="logo"><a class="external" href="index.html"><img src="{{ asset('/bundles/site/images/logo.png') }}" alt=""></a></div>

			<!-- Navigation Menu-->
			<nav class="nav-collapse collapse">
				{#<ul class="nav">#}
				{#<li><a class="colapse-menu" href="#home">Home</a></li>#}
				{#<li><a class="colapse-menu" href="#newsletter">Newsletter</a></li>#}
				{#<li><a class="colapse-menu" href="#contact">Contact</a></li>#}

				{#<li class="dropdown">#}
				{#<a class="dropdown-toggle" data-toggle="dropdown" href="#">Blog</a>#}
				{#<ul class="dropdown-menu">#}
				{#<li><a class="external" href="blog.html">Blog Full Width</a></li>#}
				{#<li><a class="external" href="blog-sidebar.html">Blog Sidebar</a></li>#}
				{#<li><a class="external" href="blog-masonry.html">Blog Masonry</a></li>#}
				{#<li><a class="external" href="blog-post.html">Blog Post</a></li>#}
				{#</ul>#}
				{#</li>#}

				{#<li><a class="external" href="shortcodes.html">Shortcodes</a></li>#}
				{#</ul>#}
				{{ knp_menu_render('SiteBundle:Builder:mainMenu', {'currentClass': 'active', 'template': 'SiteBundle:Menu:knp_menu.html.twig'}) }}
			</nav>
			<!--/Navigation Menu-->

		</div>
	</div>
</div>
<!--/Navigation -->
{% endblock %}