{% block page_footer %}
<!-- Footer -->
<div id="footer">

	<div class="container no-padding">

		<ul class="socials">
			<li class="has-animation" data-animation="fade-in" data-delay="100"><a href="https://www.facebook.com/ibrightdev" target="_blank"><i class="fa fa-facebook"></i></a></li>
			<li class="has-animation" data-animation="fade-in" data-delay="150"><a href="https://twitter.com/ibrightdev" target="_blank"><i class="fa fa-twitter"></i></a></li>
			<li class="has-animation" data-animation="fade-in" data-delay="200"><a href="https://www.linkedin.com/company/ibright-development/  " target="_blank"><i class="fa fa-linkedin"></i></a></li>
		</ul>

		<p class="copyright">2002 - {{ "now"|date("Y") }} &copy; iBrightDevelopment. All rights reserved.</p>

		<a id="back-top"><div id="menu_top"></div></a>

	</div>

</div>
<!--/Footer -->
{% endblock %}
