{% block page_head %}
	{% if header_image is defined %}
		<!-- Home Section -->
		<header id="home" class="{% if video_page is defined and video_page == true %}video-home-section{% endif %} light-content">
			<!-- Home Content -->
			<div class="home-content">

				{% if video_page is defined and video_page == true %}
					<a id="video-volume" onclick="$('#bgndVideo').toggleVolume()"><i class="fa fa-volume-down"></i></a>
					<!-- Video Background - Here you need to replace the videoURL with your youtube video URL -->
					<a id="bgndVideo" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=gP4YzwjET1w',containment:'body',autoPlay:true, mute:true, startAt:0, opacity:1}">youtube</a>
					<!--/Video Background -->
				{% endif %}

				{% if video_page is not defined %}
				<!-- Home Image -->
				<div class="home-image" style="background-image:url(/bundles/site/images/{% if header_image is defined %}{{ header_image }}{% endif %})">
					{% endif %}

					<!-- Overlay Color -->
					<div class="overlay {% if video_page is defined and video_page == true %}video-overlay{% endif %}" style="background-color:rgba(0,0,0,0.7)">
						<!-- Content Center -->
						<div class="content-center">
							<!-- Content Vertical Center -->
							<div class="content-vertical-center">

								{% block page_header_content %}{% endblock %}

							</div>
							<!--/Content Vertical Center -->
						</div>
						<!--/Content Center -->
					</div>
					<!--/Overlay Color -->

					{% if video_page is not defined %}
				</div>
				<!-- Home Image -->
				{% endif %}

				<!-- Next Section -->
				{% if next_section is defined %}<a class="move" href="#{{ next_section }}"><div class="next-section"></div></a>{% endif %}
				<!-- Next Section -->
				{% if video_page is defined and video_page == true %}
					<!-- Toggle Video -->
					<div class="toggle-video">
						<div class="hide-video-overlay"></div>
					</div>
					<!-- Toggle Video -->
				{% endif %}
			</div>
			<!-- Home Content -->
		</header>
		<!-- End Home Section -->
	{% endif %}
{% endblock %}
