{% block newsletter %}
	<!-- Newsletter Section -->
	<section id="newsletter">

		<!-- Container -->
		<div class="container">

			<!-- Section Title -->
			<div class="section-title">
				<div class="title-content">
					<h3>Newsletter</h3>
					<ul class="title-dots"><li></li><li></li><li></li></ul>
					<p>Want to know when we re-launch? Want to be informed on things going on with iBright Development? Subscribe to our newsletter to get updates.</p>
				</div>
			</div>
			<!--/Section Title -->

			<!-- Newsletter -->
			<div class="newsletter">

				{{ form_start(subscribe, {'action': path('home'), 'attr': {'id': 'newsletter-subscribe'}}) }}
				<div class="email-box">
					{{ form_widget(subscribe.email) }}
				</div>
				<div class="subscribe-box">
					<a class="subscribe-btn" href="#"><i class="fa fa-envelope"></i> Subscribe</a>
				</div>
				{{ form_end(subscribe) }}

			</div>
			<!-- Newsletter -->

		</div>
		<!--/Container -->

	</section>
	<!--/Newsletter Section -->
{% endblock %}


{% block business_map %}
	<!-- Contact Parralax -->
	<section id="contact-parallax" class="parallax" style="border-bottom:none;">

		<!-- Map-->
		<div id="map_canvas"></div>
		<!--End Map-->

		<!-- Map Overlay-->
		<div class="map-overlay parallax light-content" style="background-image: url('/bundles/site/images/map.jpg');">

			<div class="overlay" style="background-color:rgba(0,0,0,0.7)">

				<div class="contact-details-table">

					<div class="contact-details-table-cell">

						<i class="fa fa-map-marker"></i>

						<h2>Scottsdale, AZ, USA</h2>

						<p>T. 480.233.5006<br>E. info@ibrightdev.com</p>

					</div>

				</div>

			</div>

		</div>
		<!--/Map Overlay-->

		<!-- Toggle Map-->
		<div class="toggle-map">
			<div class="hide-overlay">View Map</div>
		</div>
		<!--/Toggle Map-->

	</section>
	<!--/Contact Parralax -->
{% endblock %}


{% block contact_us %}
	<!-- Contact Section -->
	<section id="contact-form">

		<!-- Container -->
		<div class="container small-width">

			<!-- Section Title -->
			<div class="section-title">
				<div class="title-content">
					<h3>Contact</h3>
					<ul class="title-dots"><li></li><li></li><li></li></ul>
					<p>Want to say hello? Want to know more about us? Give us a call or drop us an email and we will get back to you as soon as we can.</p>
					<p>T. 480.233.5006<br>E. info@ibrightdev.com</p>
				</div>
			</div>
			<!--/Section Title -->

			<!-- Contact Formular -->
			<!-- <div id="contact-formular">

				<div id="message"></div>

				{{ form_start(contact, {'action': path('home'), 'attr': {'id': 'contact-ibrightdev'}}) }}

				<div class="one_half">
					{{ form_widget(contact.name) }}
					{{ form_widget(contact.email) }}
					{{ form_widget(contact.phone) }}
				</div>

				<div class="one_half last">
					{{ form_widget(contact.message) }}
				</div>

				<div class="one_half">
					<div class="g-recaptcha" data-sitekey="6Le1xQMTAAAAADXkhP0bqLtP_WJfl2cspaddcGAm"></div>
				</div>
				<div class="one_half last">
					<input type="submit" class="send_message clapat-button" id="submit" value="Submit" />
				</div>

				{{ form_end(contact) }}

			</div> -->
			<!--/Contact Formular -->

		</div>
		<!--/Container -->

	</section>
	<!--/Contact Section -->
{% endblock %}


{% block twitter_feed %}
	<!-- Twitter Parallax -->
	<section id="twitter-parallax" class="parallax" style="background-image: url('/bundles/site/images/separator1.jpg'); border:0;">

		<!-- Parallax Overlay -->
		<div class="overlay" style="background-color:rgba(0,0,0,0.7)">

			<!-- Container -->
			<div class="container no-padding light-content">



				<!-- Twitter Feed -->
				<div class="twitter-icon"><i class="fa fa-twitter"></i></div>

				<div class="twitter-slider flexslider">
					<div id="twitter-feed">
						<ul>
							{% for tweet in tweets %}
								<li>{{ tweet.text }}</li>
							{% endfor %}
						</ul>
					</div>
				</div>

				<p class="twitter-name"><a href="http://twitter.com/ibrightdev" target="_blank">iBright Development</a></p>

				<div class="twitter-nav-table"><div class="twitter-nav-table-cell"><div class="twitter-nav"></div></div></div>
				<!-- Twitter Feed -->



			</div>
			<!-- Container -->

		</div>
		<!--/Parallax Overlay -->

	</section>
	<!--/Twitter Parallax -->
{% endblock %}

