{% set title = 'About Us' %}
{% set header_image = 'about_head.jpg' %}
{% set next_section = 'about' %}

{% extends "::base.html.twig" %}

{% block page_header_content %}
	<h1>We are <strong>iBright Development</strong>!</h1><br>
	<h3>Want to know more? Get in touch today!</h3><br/>
	<a class="clapat-button medium outline move" href="#{{ next_section }}">Contact Us</a>
{% endblock %}

{% block body %}

	<!-- About -->
	<section id="{{ next_section }}">

		<!-- Container -->
		<div class="container">

			<!-- Section Title -->
			<div class="section-title">
				<div class="title-content">
					<h3>Ancient Philosophy, Modern Application</h3>
					<ul class="title-dots"><li></li><li></li><li></li></ul>
					<blockquote>It was a saying of his that the roots of education were bitter, but the fruit sweet.<div class="meta">&#8213;Diogenes Laertius (biographer of Aristotle)</blockquote>
				</div>
			</div>
			<!--/Section Title -->

			<div class="one_third">
				<p>Aristotle often studied through the night. He would deny his tendency to fall asleep by holding a shot-put ball over a brass dish on the floor as he read, so that when he would doze off, the ball would drop and the resounding crash would rouse him to continue his mastery of every subject known to his time.</p>
			</div>

			<div class="one_third">
				<p>Unlike Aristotle, individual experts in today’s highly specialized world know more and more about less and less. The diverse panoply of human nature is comparatively ignored by their tunnel vision, resulting in the inability to draw parallels, envision partnerships, or market themselves.</p>
			</div>

			<div class="one_third last">
				<p>During your free initial client consultation, iBright fills the room with well rounded Renaissance men who also possess particular talent for coding, social media and marketing, graphic design, analytics, or creative writing. They listen to you, analyze your needs, and then provide ongoing solutions.</p>
			</div>

		</div>
		<!--/Container -->

	</section>
	<!--/About -->

	<!-- Specifications -->
	<section id="specifications" class="parallax text-align-left" style="background-image: url('/bundles/site/images/who_are_we.jpg'); border:0;">

		<!-- Parallax Overlay -->
		<div class="overlay" style="background-color:rgba(0,0,0,0.7)">

			<!-- Container -->
			<div class="container light-content">



				<!-- Section Title -->
				<div class="section-title">
					<div class="title-content">
						<h3>So who are we?</h3>
						<ul class="title-dots"><li></li><li></li><li></li></ul>
						<p>We're a full-service digital agency based in Scottsdale, Arizona.</p>
					</div>
				</div>
				<!--/Section Title -->

				<p>iBright Development has a decade of experience pairing brands with customers through engaging digital communications and website development.</p>
				<p>We empower individuals, businesses, and organizations to engage a targeted audience, while all along fostering creative personal development through one-on-one training and brainstorming sessions. We raise your awareness of what is possible, yet maintain focus on measurable results. We invest in your innovative achievement&#8213;in a word, your success is our success.</p>
				<p>Our business is adaptation; since we keep apprised of and embrace change, we grant you a competitive advantage in harnessing the dynamic, 24/7 world we inhabit. We encourage the development of good ideas. We aspire to greatness through our goodness and myriad talents.</p>



			</div>
			<!-- Container -->

		</div>
		<!--/Parallax Overlay -->

	</section>
	<!--/Specifications -->


	{{ block('business_map') }}
	{{ block('contact_us') }}

{% endblock %}
