@font-face {
	font-family: 'ibrightdev';
	src:url('/bundles/site/fonts/ibrightdev.eot?n7n2zc');
	src:url('/bundles/site/fonts/ibrightdev.eot?#iefixn7n2zc') format('embedded-opentype'),
	url('/bundles/site/fonts/ibrightdev.woff?n7n2zc') format('woff'),
	url('/bundles/site/fonts/ibrightdev.ttf?n7n2zc') format('truetype'),
	url('/bundles/site/fonts/ibrightdev.svg?n7n2zc#ibrightdev') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'ibrightdev';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-ibd_logo:before {
	content: "\e600";
}

