{% set title = 'Off-Screen-Navigation Tutorial' %}
{% set header_image = 'tutorial_head.jpg' %}
{% set next_section = 'tutorial' %}

{% extends "::base.html.twig" %}

{% block page_header_content %}
	<h1>Become a <strong>NINJA</strong> of Off-Screen-Navigation</h1><br>
	<h3>What Are You Waiting For?</h3><br/>
	<h5><strong>START TRAINING NOW!</strong></h5>
{% endblock %}


{% block body %}

	<!-- Contact -->
	<section id="{{ next_section }}">

		<!-- Container -->
		<div class="container">

			<!-- Section Title -->
			<div class="section-title end">
				<div class="title-content">
					<h3>Off-Site-Navigation</h3>
					<ul class="title-dots"><li></li><li></li><li></li></ul>
				</div>
			</div>
			<!--/Section Title -->

			<div class="text-align-center">
				<iframe width="960" height="720" src="https://www.youtube.com/embed/u3-rIdZaDHE" frameborder="0" allowfullscreen></iframe>
			</div><br/><br/>

			<p>Welcome, Today we are going to learn how to build a quick website with a fixed header and off screen navigation for a quick and easy modern responsive website.</p>
			<p>First, let's set up our new html 5 document. We are going to include Twitter Bootstrap, normalizer, and jQuery.</p>
			<pre class="prettyprint linenums">
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head lang=&quot;en&quot;&gt;
	&lt;meta charset=&quot;UTF-8&quot;&gt;
	&lt;title&gt;Off Screen Navigation | Sample&lt;/title&gt;
	&lt;link rel=&quot;stylesheet&quot; type=&quot;text/css&quot; href=&quot;css/normalize.css&quot; /&gt;
	&lt;link rel=&quot;stylesheet&quot; type=&quot;text/css&quot; href=&quot;css/bootstrap/bootstrap.css&quot; /&gt;
	&lt;link rel=&quot;stylesheet&quot; type=&quot;text/css&quot; href=&quot;css/bootstrap/bootstrap-theme.css&quot; /&gt;
	&lt;link rel=&quot;stylesheet&quot; type=&quot;text/css&quot; href=&quot;css/style.css&quot; /&gt;
&lt;/head&gt;
&lt;body&gt;

&lt;script src=&quot;js/jquery/jquery-1.11.3.min.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;js/bootstrap/bootstrap.min.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;js/navigation.js&quot;&gt;&lt;/script&gt;

&lt;/body&gt;
&lt;/html&gt;
			</pre>

			<p>Now that we have our blank document setup, lets create a navigation and some sample content. I like to use Bacon Ipsum for a little fun. You can give it a try too by visiting <a href="http://www.baconipsum.com" target="_blank">baconipsum.com</a>.</p>

			<pre class="prettyprint linenums">
&hellip;

&lt;nav&gt;
	&lt;h3&gt;Bacon Menu&lt;/h3&gt;
	&lt;ul&gt;
		&lt;li&gt;&lt;a href=&quot;//oracleofbacon.org&quot; target=&quot;_blank&quot;&gt;The Oracle of Bacon&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;//www.livescience.com/37537-six-degrees-of-francis-bacon.html&quot; target=&quot;_blank&quot;&gt;Six Degrees of Francis Bacon&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;//www.brobible.com/lifestyle/food/article/types-of-bacon-every-bacon-lover-needs-to-try/#page/1&quot; target=&quot;_blank&quot;&gt;9 types of bacon&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;//ilovebacon.com&quot; target=&quot;_blank&quot;&gt;I Love Bacon&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;//www.baconfreak.com/bacon-recipes.html&quot; target=&quot;_blank&quot;&gt;Bacon Recipes&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;//visual.ly/25-fun-facts-about-bacon&quot; target=&quot;_blank&quot;&gt;Bacon Facts&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;//www.dailydawdle.com/2011/10/26-crazy-bacon-products-you-never-knew.html&quot; target=&quot;_blank&quot;&gt;26 Crazy Bacon Products&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;//365daysofbacon.wordpress.com&quot; target=&quot;_blank&quot;&gt;365 Days of Bacon&lt;/a&gt;&lt;/li&gt;
	&lt;/ul&gt;
&lt;/nav&gt;

&lt;header&gt;
	&lt;div class=&quot;navbar-btn&quot;&gt;
		&lt;div class=&quot;navicon-line&quot;&gt;&lt;/div&gt;
		&lt;div class=&quot;navicon-line&quot;&gt;&lt;/div&gt;
		&lt;div class=&quot;navicon-line&quot;&gt;&lt;/div&gt;
	&lt;/div&gt;
	&lt;a title=&quot;Off Screen Navigation&quot; href=&quot;/&quot;&gt;Off Screen Navigation&lt;/a&gt;
&lt;/header&gt;

&lt;main&gt;
	&lt;section class=&quot;container-fluid&quot;&gt;
		&lt;div class=&quot;row&quot;&gt;
			&lt;div class=&quot;col-sm-12&quot;&gt;
				&lt;h1&gt;Bacon ipsum dolor amet&lt;/h1&gt;
				&lt;h2&gt;Pork chop turducken tongue, pancetta t-bone pork capicola.&lt;/h2&gt;
				&lt;p&gt;T-bone pig drumstick shank brisket frankfurter. Short loin cow chicken kevin bacon salami turducken ham meatball brisket filet mignon. Ribeye strip steak drumstick beef kevin pig ham hock. Flank corned beef bacon, sausage jowl capicola fatback ground round beef ribs salami tri-tip.&lt;/p&gt;
			&lt;/div&gt;
		&lt;/div&gt;
		&lt;div class=&quot;row&quot;&gt;
			&lt;div class=&quot;col-sm-5&quot;&gt;
				&lt;p&gt;Pork loin rump short ribs picanha leberkas corned beef ham boudin alcatra ball tip. Kielbasa chuck swine ball tip flank tri-tip cow. Andouille chuck tri-tip, pastrami chicken ham flank picanha filet mignon jerky tongue fatback shank. Leberkas brisket pig shankle filet mignon bacon prosciutto bresaola cow doner hamburger. Brisket boudin flank sirloin, drumstick shoulder turducken ribeye rump beef ribs alcatra shankle turkey.&lt;/p&gt;
			&lt;/div&gt;
			&lt;div class=&quot;col-sm-7&quot;&gt;
				&lt;p&gt;Drumstick tongue ball tip spare ribs shoulder sausage picanha short loin hamburger jowl pastrami. Porchetta hamburger pork loin chuck jowl salami ribeye capicola biltong fatback pastrami. Tongue turducken capicola tail, salami pork tenderloin turkey jerky pig sirloin strip steak chicken kielbasa shankle. Pancetta chicken doner, ground round capicola meatloaf shankle pork chop corned beef pork belly. Meatball pork loin ground round beef ribs kielbasa meatloaf pork chop kevin hamburger sausage. Cupim tenderloin sausage venison.&lt;/p&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/section&gt;
	&lt;section class=&quot;container-fluid well&quot;&gt;
		&lt;div class=&quot;row&quot;&gt;
			&lt;div class=&quot;col-sm-6&quot;&gt;
				&lt;h3&gt;Short loin corned beef doner capicola pork cupim.&lt;/h3&gt;
				&lt;p&gt;Pork chop leberkas drumstick, bacon pancetta hamburger flank ball tip beef ribs doner boudin tail jowl pig. Cow sirloin tri-tip short loin meatball, bacon pork belly. Prosciutto filet mignon brisket corned beef tongue pastrami spare ribs, pork bresaola. Sausage chuck salami leberkas sirloin brisket corned beef pork chop strip steak pig.&lt;/p&gt;
				&lt;p&gt;Sirloin bresaola capicola pork chop corned beef biltong sausage picanha tri-tip ball tip beef venison turducken pork belly leberkas. Short ribs ground round ham doner sausage beef turducken tongue. Sirloin pancetta corned beef, hamburger venison cupim salami. Cow boudin sirloin, strip steak frankfurter pork belly salami sausage landjaeger chicken pancetta rump tenderloin spare ribs corned beef. Ribeye pancetta leberkas, pastrami spare ribs ball tip swine venison fatback filet mignon doner meatball pork belly. Salami meatball ham hock corned beef, ribeye short loin tenderloin porchetta kielbasa cow pig. Ground round prosciutto doner, jerky meatloaf ham hock pig short ribs.&lt;/p&gt;
			&lt;/div&gt;
			&lt;div class=&quot;col-sm-6&quot;&gt;

				&lt;blockquote&gt;
					&lt;h3&gt;Rump shoulder leberkas ribeye&lt;/h3&gt;
					&lt;p&gt;Kevin tri-tip sirloin turducken strip steak fatback alcatra spare ribs filet mignon meatball ball tip. Picanha capicola pancetta kielbasa meatball pig shoulder ribeye. Bacon alcatra corned beef drumstick short loin pig. Doner tri-tip leberkas tail frankfurter ribeye, spare ribs venison swine t-bone porchetta drumstick pork loin tongue. Andouille chicken turducken spare ribs pork loin tenderloin leberkas, bacon boudin beef ribs shank swine cupim t-bone. Beef salami corned beef fatback jowl pork belly ball tip bacon swine tongue landjaeger ham hock drumstick bresaola alcatra.&lt;/p&gt;
				&lt;/blockquote&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/section&gt;
	&lt;section class=&quot;container-fluid&quot;&gt;
		&lt;div class=&quot;row&quot;&gt;
			&lt;div class=&quot;col-sm-12&quot;&gt;
				&lt;h3&gt;Leberkas frankfurter turducken filet mignon, porchetta t-bone beef ribs capicola. Beef chicken kielbasa pork ground round. Kevin ground round tail prosciutto bacon ball tip pork chop flank fatback shankle. Doner short loin hamburger, filet mignon biltong tail capicola frankfurter meatloaf venison pork loin salami chuck. Drumstick fatback pork salami. Tenderloin short loin ham hamburger sausage porchetta brisket flank pork chop filet mignon shank. Ground round prosciutto brisket ribeye leberkas, pork beef jerky filet mignon shank.&lt;/h3&gt;
			&lt;/div&gt;
		&lt;/div&gt;
		&lt;div class=&quot;row&quot;&gt;
			&lt;div class=&quot;col-sm-3&quot;&gt;
				&lt;p&gt;Pig prosciutto bresaola, tongue tail pork chop tri-tip cow fatback biltong. Short loin tenderloin tail jowl landjaeger ham hock meatball. Pastrami cow frankfurter capicola prosciutto spare ribs, turkey pig rump t-bone. Picanha turkey beef ham pastrami corned beef. Short ribs andouille landjaeger sirloin t-bone tail. Tenderloin capicola tongue fatback cow.&lt;/p&gt;
			&lt;/div&gt;
			&lt;div class=&quot;col-sm-3&quot;&gt;
				&lt;p&gt;Ribeye shank ball tip spare ribs chuck sausage bresaola t-bone porchetta pork belly. Tail pancetta short ribs spare ribs meatloaf flank. Meatball hamburger bacon bresaola short ribs ribeye. Cow rump pig jerky shoulder tail pork chop ham hock turducken alcatra pork loin sausage capicola. Pancetta bresaola turkey short ribs tri-tip boudin chicken shankle. Strip steak pancetta ball tip prosciutto pork loin t-bone sausage short ribs tail turkey meatball.&lt;/p&gt;
			&lt;/div&gt;
			&lt;div class=&quot;col-sm-3&quot;&gt;
				&lt;p&gt;Tail jowl salami swine, sausage turducken rump frankfurter pancetta meatloaf. Beef turducken ham hock ground round spare ribs brisket tenderloin venison shank cupim. Corned beef spare ribs shankle short loin strip steak, doner beef tongue swine ball tip sausage. Ball tip jerky kevin, andouille cow drumstick shankle spare ribs tongue strip steak ham hock prosciutto. Jerky chuck brisket beef. Tenderloin jowl filet mignon, hamburger pancetta capicola landjaeger pork belly.&lt;/p&gt;
			&lt;/div&gt;
			&lt;div class=&quot;col-sm-3&quot;&gt;
				&lt;p&gt;Cow ham hock jowl, ham prosciutto short ribs pork loin biltong bresaola ground round tongue turkey pork. Ball tip frankfurter shank ground round. Chuck ribeye flank sirloin. T-bone spare ribs pork ham hock shankle hamburger shoulder. Pancetta sausage frankfurter, turkey alcatra tri-tip rump shoulder kevin venison jerky cow hamburger.&lt;/p&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/section&gt;

	&lt;section class=&quot;container-fluid well&quot;&gt;
		&lt;div class=&quot;row&quot;&gt;
			&lt;div class=&quot;col-sm-12&quot;&gt;
				&lt;h2&gt;Bacon strip steak cow turkey, pork sausage short ribs pastrami porchetta beef ribs meatloaf. Fatback shank filet mignon ham, rump chicken pig beef ribs short ribs shoulder tail kevin cow beef bacon. Pork belly swine shankle sausage t-bone ham hock. Pork chop turkey beef, ham salami andouille porchetta ground round pancetta pork belly meatball shank pig meatloaf kevin. Tongue short ribs kielbasa ball tip tenderloin, leberkas meatball shoulder brisket ham landjaeger pastrami shank. Sirloin brisket meatball landjaeger shank, turducken venison.&lt;/h2&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/section&gt;


	&lt;section class=&quot;container-fluid&quot;&gt;
		&lt;div class=&quot;row&quot;&gt;
			&lt;div class=&quot;col-sm-4&quot;&gt;
				&lt;p&gt;Pork chop landjaeger doner sausage pork belly andouille shoulder cow short ribs frankfurter swine chuck leberkas bacon picanha. Pancetta jerky capicola salami landjaeger pork loin drumstick kielbasa. Porchetta turkey chicken ground round corned beef spare ribs. Sirloin spare ribs bresaola cupim, rump frankfurter corned beef. Drumstick biltong boudin, short loin chicken fatback turkey. Venison ham hock hamburger boudin biltong pork loin chicken jowl picanha short ribs fatback t-bone prosciutto jerky.&lt;/p&gt;
			&lt;/div&gt;
			&lt;div class=&quot;col-sm-4&quot;&gt;
				&lt;p&gt;Salami jerky turkey hamburger, kevin drumstick ground round. Porchetta rump beef capicola, shoulder pork belly sausage salami boudin. Pancetta bresaola pastrami leberkas boudin andouille flank sausage beef ribs strip steak brisket. Short ribs doner landjaeger bacon turducken t-bone. Pancetta rump capicola ham hock ground round turducken. Pancetta biltong pork flank frankfurter pastrami venison, t-bone kielbasa strip steak beef ribs meatloaf corned beef boudin.&lt;/p&gt;
			&lt;/div&gt;
			&lt;div class=&quot;col-sm-4&quot;&gt;
				&lt;p&gt;Salami turducken landjaeger, pork chop meatloaf cow beef ribs ball tip drumstick. Tongue ham hock tenderloin bresaola short ribs pork belly corned beef swine tri-tip capicola filet mignon tail. Meatball shank beef prosciutto. Prosciutto pork loin shank frankfurter meatball beef venison. Jowl pig meatloaf shankle cow landjaeger prosciutto. T-bone pork loin short ribs filet mignon shankle meatball, kielbasa ribeye jerky frankfurter picanha.&lt;/p&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/section&gt;
&lt;/main&gt;

&lt;footer&gt;

&lt;/footer&gt;

&hellip;
			</pre>

			<p>Lets refresh our page and see what we have so far… Wow! Now that isn’t to terrible, but our header and navigation don’t look like they are done. We should probably keep cooking them a bit longer with some custom CSS.</p>
			<p>First, we don’t want our page to have an x-overflow scroll once our menu pushing the page over, so let’s take care of that first.</p>
			<p>Planning ahead just a bit, I know I would like a nice transition when I hover a link or any element that has a class that ends with -btn, so add the css for that. I also want a fluid container, and when I used the “well” class, you will notice rounded corners. Since the layout goes to the edge on the screen, we will remove the rounded corners.</p>
			<p>Great job! Moving on. We are now going to setup our header settings. You will notice that I have prefixed anything in the header structural element. I have done this so that anything I set for text, links, buttons, etcetera, is specific to only the header.</p>
			<p>Last but not least, we need to setup our navigation. A few key attributes will make this function how we want. We will need to set display to none to hide the element, set the height to 100% of the screen, overflow-y to scroll in case our navigation gets longer than the viewing area, position of fixed, and a width. Top and Left are not mandatory here since they will default to top 0 and left 0, but you can set them if you would like.</p>

			<pre class="prettyprint linenums">
/* Golbal */

body {
	overflow-x: hidden;
}

a:link, a:visited, a:active, a:hover,
[class$='-btn'], [class$='-btn']:hover {
	/* css transition */
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

/* Custom Bootstrap Override */

.well {
	border-radius: 0;
}

/* Header */

header {
	background-color: #204d74;
	line-height: 3em;
	padding: 5px 0;
	text-align: center;
	font-size: 1.15em;
	font-weight: bold;
	width: 100%;
}

header a:link, header a:visited, header a:visited {
	color: rgba(255,255,255,0.8);
	text-decoration: none;
}

header a:hover {
	color: rgba(255,255,255,1);
}

header .navbar-btn {
	opacity: 0.8;
	border: 1px solid rgba(255,255,255,1);
	left: 15px;
	padding: 7px;
	position: absolute;
	cursor: pointer;
	/* border radius */
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}

header .navbar-btn:hover {
	opacity: 1;
	background-color: rgba(255,255,255,0.25);
}

header .navbar-btn .navicon-line {
	background-color: rgba(255,255,255,1);
	border-radius: 1px;
	height: 2px;
	margin-top: 5px;
	width: 16px;
}

header .navbar-btn .navicon-line:first-of-type {
	margin-top: 0;
}

/* Navigation */

nav {
	background: none repeat scroll 0 0 #333;
	box-shadow: 0 0 5px 5px #222 inset;
	color: #fff;
	display: none;
	font-size: 1em;
	height: 100%;
	overflow-y: auto;
	position: fixed;
	width: 280px;
}

nav h3 {
	padding: 0 10px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	padding: 10px;
	border-bottom: 1px solid #666666;
}

nav ul li a:link, nav ul li a:visited, nav ul li a:active {
	color: #cccccc;
	width: 100%;
	display: block;
	text-decoration: none;
}

nav ul li a:hover {
	color: #F8F8F8;
}

			</pre>

			<p>Now that we have all that set, let’s see how our page is looking. Awesome! This looks exactly like what we want, except for a couple minor things… Our navigation isn’t working just yet, and our navigation isn’t sticking to the top of the page. We could fix that with some CSS, but I want to use jQuery to handle sticking the header. The reason I want to use jQuery is so that I can clone the original header and place it anywhere on the page, and then have it stick once it scrolls to the top of the page. We need to create a custom javascript file in order to handle the functionality for the sticky scroll header and the navigation.</p>
			<p>First, we will clone our header and set some css to the cloned element with the styles of; position fixed, top 0, and a z-index of 500 to keep it on top of elements that are scrolling so they go behind it.</p>

			<pre class="prettyprint linenums">
/**
 * Created by jstgermain on 5/8/15.
 * Custom JS file for Off Screen Navigation Tutorial
 */

$(function() {

	/**
	 * Create clone of the header
	 * This allows you to place the element wherever you want
	 * while making it stick to the top of the screen on scroll
	 */
	$('header')
		.addClass('original')
		.clone()
		.insertAfter('header')
		.addClass('cloned')
		.removeClass('original')
		.css({'position': 'fixed', 'top': '0', 'z-index': '500'})
		.hide()
	;

});

			</pre>

			<p>Now that we have that out of the way, we need to create a stickyHeader function to handle the actual sticking and unsticking of the header. In all actuality, this will really just hide and show the original and the cloned header.</p>

			<pre class="prettyprint linenums">
&hellip;

function stickyHeader() {

	/**
	 * @type {*|jQuery}
	 */
	var orgElementPos = $('.original').offset();

	orgElementTop = orgElementPos.top;

	if ($(window).scrollTop() &gt;= (orgElementTop)) {

		/**
		 * Scrolled past the original position; now only show the cloned, sticky element.
		 * Cloned element should always have same left position and width as original element.
		 * @type {*|jQuery|HTMLElement}
		 */
		orgElement = $('.original');
		$('.cloned').css('top',0).css('width', '100%').show();
		$('.original').css('visibility','hidden');

	} else {

		/**
		 * Not scrolled past the menu
		 * Only show the original menu.
		 */
		$('.cloned').hide();
		$('.original').css('visibility','visible');

	}

}
			</pre>

			<p>Now that the function is created, we are going to check the position of the header every 10 milliseconds so that the navigation will appear to stick and unstick depending on the position of the scroll.</p>
			<pre class="prettyprint linenums">
&hellip;

	/**
	 * Set Interval so that if the element is placed
	 * somewhere other than the top of the screen to
	 * start, it will check the element position every
	 * 10 milliseconds, allowing you to stick an element
	 * once it has been scrolled to the top.
	 */
	scrollIntervalID = setInterval(stickyHeader, 10);

&hellip;
			</pre>

			<p>Great! Now we can now handle the off screen navigation. First we need to determine the width of the navigation so we can animate the position of the body and the navigation to the correct positions when the navigation toggle has been clicked.</p>

			<pre class="prettyprint linenums">
&hellip;

	/**
	 * @type {*|jQuery}
	 */
	var navWidth = $('nav').width();

	$('nav').css({
		'left': -navWidth
	});

&hellip;
			</pre>

			<p>Next we will set an on click event handler. We will tell the navigation to show and animate to the left position of 0 while moving the body to the left position equal to the width of the navigation. Let’s not forget to add a class to the toggle button so we have something quick and easy to check against when toggling the navigation. On toggle of the navigation when it is already showing, we will move the navigation back to the negative position equal to the width of the navigation, and the body back to the left position of 0. Don’t forget to remove the active class that we added to the toggle button.</p>

			<pre class="prettyprint linenums">
&hellip;

	$('header').on('click', '.navbar-btn', function() {

		if ( !$(this).hasClass('active-menu') ) {

			$('nav').show().animate({'left': 0}, 'slow');
			$('body').css({'position': 'absolute', 'left': 0, 'width': $('body').width()}).animate({'left': navWidth}, 'slow');
			$(this).addClass('active-menu');

		} else {

			$('nav').animate({'left': -navWidth}, 'slow', function() {
				$(this).hide();
			});

			$('body').animate({'left': 0}, 'slow', function() {
				$(this).removeAttr('style');
			});

			$(this).removeClass('active-menu');

		}

	});

&hellip;
			</pre>

			<p>There you have it. You are now a ninja of off screen navigation. Thanks for checking out my tutorial.</p>
			<p>You can download all the source files <a href="https://bitbucket.org/jstgermain/off-screen-navigation" target="_blank"><strong>here</strong></a>.</p>

		</div>
		<!--/Container -->

	</section>
	<!--/Contat -->

{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
		!function ($) {
			$(function(){
				window.prettyPrint && prettyPrint()
			})
		}(window.jQuery)
	</script>
{% endblock %}
