{% set title = 'Welcome' %}
{#{% set video_page = false %}#}
{% set header_image = 'home_head.jpg' %}
{% set next_section = 'about-us' %}

{% extends "::base.html.twig" %}

{% block count_down %}
	<div class="container small-width">
		<!-- Countdown -->
		<div id="countdown_dashboard" >
			<!-- Days -->
			<div class="dash_col ">
				<div class="dash days_dash">
					<div class="digit">0</div>
					<div class="digit">0</div>
					<div class="digit">0</div>
					<span class="dash_title">Days</span>
				</div>
			</div>
			<!-- Hours -->
			<div class="dash_col">
				<div class="dash hours_dash">
					<div class="digit">0</div>
					<div class="digit">0</div>
					<span class="dash_title">Hours</span>
				</div>
			</div>
			<!-- Minutes -->
			<div class="dash_col">
				<div class="dash minutes_dash">
					<div class="digit">0</div>
					<div class="digit">0</div>
					<span class="dash_title">Minutes</span>
				</div>
			</div>
			<!-- Seconds -->
			<div class="dash_col">
				<div class="dash seconds_dash">
					<div class="digit">0</div>
					<div class="digit">0</div>
					<span class="dash_title">Seconds</span>
				</div>
			</div>
		</div>
		<!--/Countdown -->
		<p>Our website is currently being updated with some awesome new stuff.</p>
		<p></p>We'll be back soon with our new site, subscribe to be notified.</p>
		<br>
		<a class="clapat-button medium outline move" href="#newsletter">Subscribe</a>
	</div>
{% endblock %}


{% block page_header_content %}
	<div class="text-rotator flexslider">
		<ul class="slides">
			<li><h1><span class="icon-ibd_logo"></span> iBright Development</h1></li>
		</ul>
	</div>
	<br>
	<h3>Compulsive creativity <strong>harnessed</strong> only by data-driven <strong>heuristic</strong> leadership.</h3>
	{#<p>Harnessing the power of your ideas to produce measurable results tailored to your specific goals.</p>#}
	{#<p>The creativity, experience, and passion within iBright Development will produce measurable results tailored to specific client goals.</p>#}
{% endblock %}

{% block body %}

	<!-- My Skills -->
	<section id="{{ next_section }}">

		<!-- Container -->
		<div class="container">

			<!-- Section Title -->
			<div class="section-title">
				<div class="title-content">
					<h3>About Us</h3>
					<ul class="title-dots"><li></li><li></li><li></li></ul>
					<p>We help build products from idea to launch. We're experts at web & mobile design, branding, iOS development and frontend. Here's some of our work.</p>
				</div>
			</div>
			<!--/Section Title -->

			<!-- Radial Counters -->
			<div class="one_fourth text-align-center">
				<div class="radial-counter">
					<input class="knob" data-gal="75" value="0">
					<h5 class="radial-counter-name">Graphic Design</h5>
					<p class="radial-counter-info">Our designers wrestle with the demands of creativity and connectivity, creating unlimited digital experiences for clients across an ever-growing universe of channels.</p>
				</div>
			</div>

			<div class="one_fourth text-align-center">
				<div class="radial-counter">
					<input class="knob" data-gal="100" value="0">
					<h5 class="radial-counter-name">Branding</h5>
					<p class="radial-counter-info">To deliver on your goals and get exceptional results, brands must deliver the right mix of information at the right time to the right people in the right ways.</p>
				</div>
			</div>

			<div class="one_fourth text-align-center">
				<div class="radial-counter">
					<input class="knob"  data-gal="90" value="0">
					<h5 class="radial-counter-name">Development</h5>
					<p class="radial-counter-info">Website development today cannot happen in a vacuum. We have the staff and experience to integrate your website into your operations for seamless customer experiences.</p>
				</div>
			</div>

			<div class="one_fourth text-align-center last">
				<div class="radial-counter">
					<input class="knob" data-gal="80" value="0">
					<h5 class="radial-counter-name">SEO / Social Media</h5>
					<p class="radial-counter-info">Through optimized keywords and social media platforms, we will help define and implement a strategy that is not only engaging and valuable to your customers, but also one that is measurable and produces ROI. </p>
				</div>
			</div>
			<!--/Radial Counters -->

			<div class="text-align-center">
				<a class="clapat-button medium outline move" href="{{ path('about') }}">Learn More</a>
			</div>

		</div>
		<!--/Container -->

	</section>
	<!--/My Skills -->

	{{ block('twitter_feed') }}


	<!-- Services-->
	<section id="services">

		<!-- Container -->
		<div class="container">



			<!-- Section Title -->
			<div class="section-title">
				<div class="title-content">
					<h3>Our Services</h3>
					<ul class="title-dots"><li></li><li></li><li></li></ul>
					<p>We help build products from idea to launch. We're experts at web & mobile design.</p>
				</div>
			</div>
			<!--/Section Title -->



			<!-- Icon Square Boxes -->
			<div class="one_fourth">

				<div class="icon-square-box">
					<div class="box-icon"><div class="box-icon-border"></div><i class="fa fa-2x fa-bullhorn"></i></div>
					<h5>Advertising</h5>
					<p>The finished product reflects what you're all about. Stunning, beautiful, raw, edgy, conservative, gritty, straightforward, modest, lively&hellip; we dig down to find what makes our clients unique and what makes them stand out. Print to digital to web, branding, logos, and ads to signage, collateral, commercials, photography and so much more, there's nothing more rewarding to us than to hear our clients say, "By Jove, you've done it!".</p>
					<p align="center"><a class="clapat-button medium outline move" href="/app_dev.php/about">Learn More</a></p>
				</div>

			</div>

			<div class="one_fourth">

				<div class="icon-square-box">
					<div class="box-icon"><div class="box-icon-border"></div><i class="fa fa-2x fa-globe"></i></div>
					<h5>Web</h5>
					<p>Back in the day, people used to hang out a shingle (yeah, that's what it was called), unlock the doors and hey, look - customers. These days, it's a little more complicated, right? A website that gives you a strong online presence and shows who you are, what you do and how people can get what you've got is like air to a business: you need it to survive. Yeah, we really do think it's that important. Consider us your never ending oxygen tank.</p>
					<p align="center"><a class="clapat-button medium outline move" href="/app_dev.php/about">Learn More</a></p>
				</div>

			</div>

			<div class="one_fourth">

				<div class="icon-square-box">
					<div class="box-icon"><div class="box-icon-border"></div><i class="fa fa-2x fa-tag"></i></div>
					<h5>Branding</h5>
					<p>The foundation of all client strategy begins with our proprietary brand strategy process. The objective is a flat-out, deep-dive immersion of our brand tuning teams within your brand and brand sentiment. And the goal is to unearth that elusive data to drive your brand awareness at every potential brand touchpoint. We call that Brand Balancing. Through our fierce dialogue we deliver true brand clarity in a world of marketing chaos.</p>
					<p align="center"><a class="clapat-button medium outline move" href="/app_dev.php/about">Learn More</a></p>
				</div>

			</div>

			<div class="one_fourth last">

				<div class="icon-square-box">
					<div class="box-icon"><div class="box-icon-border"></div><i class="fa fa-2x fa-share-alt"></i></div>
					<h5>SEO / Social Media</h5>
					<p>Because social media is among the most powerful networking platforms available today, iBright Development integrates social media with all campaigns (where appropriate) and manages platforms to build conversations, reciprocity and relationships with followers, friends and subscribers. We drive concrete results when it comes to your social media, interactive media and mass media initiatives to get you more out of your marketing dollar</p>
					<p align="center"><a class="clapat-button medium outline move" href="/app_dev.php/about">Learn More</a></p>
				</div>

			</div>
			<!--/Icon Square Boxes -->



		</div>
		<!--/Container -->

	</section>
	<!--/Services-->


	<!-- Shortcode Call To Action -->
	<section id="call-to-action" class="cta-dark">

		<!-- Container -->
		<div class="container text-align-center light-content">



			<h4>Do you want to talk with us? Hit the button!</h4>
			<br>
			<a class="clapat-button move outline" href="#contact-form">Contact Us</a>



		</div>
		<!-- Container -->

	</section>
	<!-- Shortcode Call To Action -->


	{{ block('business_map') }}
	{{ block('contact_us') }}

{% endblock %}

